
Code/.ipynb_checkpoints/Functions-checkpoint.ipynb
Code/.ipynb_checkpoints/Test_sound-checkpoint.ipynb
Code/__pycache__/AD_functions.cpython-36.pyc
Audio_data/desktop.ini
Code/.ipynb_checkpoints/Notebook-checkpoint.ipynb
Data/__pycache__/AD_functions.cpython-36.pyc
Data/__pycache__/AD_functions.cpython-36.pyc
Data/.ipynb_checkpoints/Notebook-checkpoint.ipynb
Data/__pycache__/AD_functions.cpython-36.pyc
Data/__pycache__/AD_functions.cpython-36.pyc
Data/__pycache__/AD_functions.cpython-36.pyc
